.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: auto !important;
  position: static !important;
  transform: none !important;
  z-index: 20;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 8px !important;
  height: 8px !important;
  opacity: 0.4;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #818cf8 !important; /* light indigo */
  transform: scale(1.2);
  border: 1px solid black;
}

/* Custom Navigation Chevrons Styling */
.custom-prev,
.custom-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}



