.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  border-radius: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #fff;
  width: 1.2rem;
  height: 1.2rem;
}

.swiper-pagination {
  bottom: auto !important;
  top: 50% !important;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  left: 50% !important;
  right: auto !important;
  width: auto !important;
  transform: translate(-50%, -50%);
}

.swiper-button-prev {
  top: 53%;
  left: 10px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.swiper-button-prev::after {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

.swiper-button-next {
  top: 53%;
  right: 10px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-next::after {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

/* Przycisk More Projects */
.swiper-more-projects {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.swiper-more-projects:hover {
  color: #6366f1;
}
