@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-poppins);
  --font-jersey: var(--font-jersey);
  --font-bagel: var(--font-bagel);
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }
  body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  html {
    color-scheme: light;
  }

  /* Usuwa efekt klasy .dark */
  html.dark {
    color-scheme: light;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .customScrollContainer {
    overflow: auto; /* zachowuje przewijanie */
  }

  /* Teraz ukrywasz scrollbar tylko dla tego konkretnego kontenera */
  .customScrollContainer::-webkit-scrollbar {
    display: none;
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(99 102 241);
    position: relative;
    isolation: isolate;
    font-size: 1.5rem;
  }

  .button::after {
    content: "";
    position: absolute;
    border-radius: 24px;
    z-index: -1;
    background-color: black;
    inset: 0;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
  }

  .button:hover::after,
  .button:focus-visible::after {
    transform-origin: left;
    border-radius: 24px;
    scale: 1 1;
  }

  .button:hover {
    color: rgb(99, 102, 241);
  }

  .lineThroughEffect {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
  }

  .lineThroughEffect::after {
    content: "";
    position: absolute;
    background-color: #00e5ff;
    left: 0px;
    right: 0px;
    height: 3px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
  }

  .lineThroughEffect:hover::after,
  .lineThroughEffect:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
  }

  .active-lineThroughEffect::after {
    transform-origin: left;
    scale: 1 1;
  }

  .main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }

  .main:before {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 0) 0,
      rgb(156, 210, 253) 100%
    );
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .purple-haze {
    background-color: rgb(99, 102, 241);
    width: 100%;
    min-height: 100vh;
    z-index: 2;
  }

  .purple-haze::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
      to right,
      transparent 0,
      transparent 52%,
      /* szerokość przezroczystego odstępu */ white 53.5%,
      /* początek białego paska */ white 53.5%,
      /* koniec białego paska */ transparent 53.5%
    );
    background-size: 5% 100%; /* powtarzanie co 5% szerokości */
    background-position: center;
    background-repeat: repeat-x;
    z-index: 1;
  }

  .landing {
    z-index: 1;
  }

  .landing:before {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 0) 0,
      rgb(156, 210, 253) 100%
    );
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

::selection {
  background-color: #3adbff; /* Kolor tła zaznaczonego tekstu */
}

/* Dla przeglądarek WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 16px; /* Szerokość paska przewijania */
  background-color: #2b2b2b; /* Tło paska przewijania */
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b; /* Kolor tła "toru" paska przewijania */
  border: 2px solid #000; /* Obramowanie w stylu pixel art */
}

::-webkit-scrollbar-thumb {
  background-color: #3adbff; /* Kolor uchwytu przewijania */
  border: 4px solid #000; /* Obramowanie uchwytu, stylizowane na pixel art */
  box-shadow: inset 0 0 0 1px #000; /* Pixel art cieniowanie dla efektu 3D */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #20b9db; /* Zmiana koloru po najechaniu */
}

.hover\:animation-paused:hover {
  animation-play-state: paused;
}

.bgCool {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm leading-loose! md:text-base border-0 p-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}
